.feature{
    background-image: url("http://prolex.themetags.com/img/promo-icon-bg.svg");
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    padding: 30px;
    font-size: 40px;
}
