.btn-products{
    background-color: rgb(34, 62, 94);
    font-family: Roboto;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    height: auto;
    width: 200px;
    color: white;
    white-space: nowrap;
    font-weight: 700;
    border-color: transparent;
    /* padding: 20px 32px; */
    border-radius: 3px;
    transform-origin: 72.0781px 26px;
    transition: background-color .6s;
}
.btn-products:hover{
/* background-color: slateblue; */
background-color: rgb(187, 18, 116);
}
.favorite{
    cursor: pointer;
}
.icon-color{
    color: orange;
}