.dashboard-heading{
    border-right: 2px solid;
}
.dash-link{
    background-color: rgb(34, 62, 94);
    font-family: Roboto;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    height: auto;
    color: white;
    white-space: nowrap;
    font-weight: 400;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 3px;
    transform-origin: 72.0781px 26px;
    transition: background-color .6s;
    text-decoration: none;
}
.dash-link:hover{
    background-color: rgb(187, 18, 116);
    color: white;
}